<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Hot &amp; Spicy</string>
	<string>Mediterranean</string>
	<string>Burgers / BBQ</string>
	<string>High end</string>
	<string>Tapas &amp; Wine</string>
	<string>Fast food</string>
	<string>Everything</string>
</array>
</plist>
