<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Football</string>
	<string>Basketball</string>
	<string>Ice Hockey</string>
	<string>Soccer</string>
	<string>Rugby</string>
	<string>Tennis</string>
	<string>Winter sports</string>
	<string>Water sports</string>
	<string>Extreme sports</string>
</array>
</plist>
