<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Far far away</string>
	<string>South america</string>
	<string>USA</string>
	<string>Canada</string>
	<string>Asia</string>
	<string>Europe</string>
	<string>Australia / Pacific</string>
</array>
</plist>
